<div class="steps">
    <div class="step" [ngClass]="{ 'step-active': step.active }" *ngFor="let step of steps; first as isFirst; last as isLast">
        <span class="step-line before" [ngClass]="{ 'active': step.active }" *ngIf="!isFirst"></span>
        <span class="step-bullet"></span>
        <span class="step-line after" [ngClass]="isActive(step)" *ngIf="!isLast"></span>
        <div class="step-text">{{ step.name }}</div>
    </div>
</div>