@import './../../../assets/css/variables';
@import './../../../assets/css/colors';

.steps {
    display: flex;
    justify-content: space-between;
    margin: $space-1 auto;

    .step {
        align-items: center;
        display: flex;
        flex-direction: column;
        position: relative;
        width: 100%;

        .step-bullet {
            background-color: $color-grey-200;
            border: 3px solid $color-white;
            border-radius: 50%;
            height: 16px;
            width: 16px;
            z-index: 1;
        }

        .step-line {
            background-color: $color-grey-200;
            height: 1px;
            top: 8px;
            position: absolute;
            width: 50%;

            &.before {
                left: 0;
            }

            &.after {
                right: 0;
            }
        }

        &.step-active {
            .step-bullet, .step-line.active { 
                background-color: $color-orange;
            }
        }
    }
}