@import './../../../assets/css/variables';
@import './../../../assets/css/colors';
@import './../../../assets/css/mixins';

.dashboard {
    .dashboard-container {
        display: grid;
        justify-content: center;
        margin: 0 auto;
        max-width: $media-screen-max-1024;
        padding: $space-4 $space-2;

        @media (min-width: $media-screen-min-480) {
            grid-template-columns: repeat(auto-fill, minmax(50%, 1fr) );
        }

        @media (min-width: $media-screen-min-768) {
            grid-template-columns: repeat(auto-fill, minmax(25%, 1fr) );
        }

        @media (min-width: $media-screen-min-1024) {
            grid-template-columns: repeat(auto-fill, minmax(20%, 1fr) );
        }
    }

    .remove-connections {
        text-align: center;
    }

    .connections-modal-body {
        text-align: center;

        .connections-subtitle {
            color: $color-black;
            font-weight: bold;
            margin: $space-2 auto $space-1;
        }

        .connections {
            background-color: $color-grey-200;
            margin: 0 auto $space-2;
            max-height: 300px;
            overflow: scroll;
            @include scrollbar;
    
            .connection-item {
                border-bottom: 1px solid $color-white;
                padding-bottom: $space-2;
                margin: $space-2 $space-2 0;
    
                &:last-child {
                    border-bottom: none;
                }
            }
        
            .connection-label {
                align-items: center;
                cursor: pointer;
                display: flex;
                justify-content: space-between;
                width: 100%;
            }
    
            .connection-content {
                display: flex;
                text-align: left;
        
                .cc-img {
                    background-color: $color-grey-200;
                    background-size: cover;
                    background-position: center;
                    height: 60px;
                    margin-right: $space-1;
                    width: 60px;
                }

                .cc-info {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
                
                .cc-name {
                    color: $color-black;
                    font-size: 14px;
                }
            }
        }
    }
}