<div class="dashboard">
    <div class="dashboard-container">
        <mlabs-connection-type
            *ngFor="let connectionType of connectionsType"
            [connectionType]="connectionType"
            (add)="addConnection(connectionType)">
        </mlabs-connection-type>
    </div>
    
    <p class="remove-connections" >
        <a href="javascript:;" (click)="removeAllConnections()">Remover conexões</a>
    </p>

    <mlabs-modal 
        [isVisible]="showModal" 
        [title]="modalTitle"
        [okText]="okText"
        cancelText="Voltar"
        (close)="closeModal()"
        (cancel)="cancelConnection()"
        (ok)="applyConnection()">

        <div class="connections-modal-body">
            <mlabs-step [steps]="steps"></mlabs-step>
            
            <p class="connections-subtitle">Selecione a página que você deseja vincular a este perfil</p>
            
            <ul class="connections" *ngIf="!isLoading && !!connectionsFiltered.length; else elseBlock">
                <li 
                    class="connection-item"
                    *ngFor="let connection of connectionsFiltered"
                    (click)="setConnectionSelected(connection)">
                    <label class="connection-label">
                        <div class="connection-content">
                            <img class="cc-img" [ngStyle]="picture(connection)">
                            <div class="cc-info">
                                <p class="cc-name">{{ connection.name }}</p>
                                <p class="cc-url"><small>{{ connection.url }}</small></p>
                            </div>
                        </div>
                        <input type="radio" name="connection" [id]="connection.id">
                    </label>

                </li>
            </ul>
            <ng-template #elseBlock>
                <div class="connections">
                    <p *ngIf="isLoading" class="connection-item">Carregando dados</p>
                    <p *ngIf="!isLoading" class="connection-item">Nenhuma página encontrada</p>
                </div>
            </ng-template>


            <p>Não encontrou sua página?</p>
            <a href="javascript:;">Clique aqui para atualizar suas permissões do {{ connectionTypeSelected?.name }}</a>
        </div>
    </mlabs-modal>
</div>