<div class="social-connected" [ngClass]="socialClass" *ngIf="!!connectionType?.socialConected; else elseBlock">
    <div class="sc-header">{{ connectionType?.socialConected?.name }}</div>
    <span class="sc-icon" [innerHTML]="connectionType.icon"></span>
</div>
<ng-template #elseBlock>
    <div class="social-connection">
        <span class="sc-icon" [ngClass]="socialClass" [innerHTML]="connectionType.icon"></span>
        <span class="sc-info">
            <i class="far fa-question-circle"></i>
        </span>
        <span class="sc-text">{{ connectionType.name }}</span>
        <button type="button" class="btn btn-red" (click)="addConnection()">Adicionar</button>
    </div>
</ng-template>