@import './../../../assets/css/colors';
@import './../../../assets/css/variables';

.social-connected {
    color: $color-white;
    display: flex;
    flex-direction: column;
    height: 100%;

    .sc-header {
        background-color: rgba($color-black, .07);
        color: $color-white;
        padding: $space-2;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .sc-icon {
        font-size: 40px;
        padding: $space-2;
    }
}

.social-connection {
    align-items: center;
    background-color: $color-grey-200;
    border: 1px dashed $color-grey-300;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: $space-3;
    position: relative;
    width: 100%;

    .sc-icon {
        align-items: center;
        border-radius: 50%;
        color: $color-white;
        display: flex;
        font-size: 30px;
        height: 60px;
        justify-content: center;
        width: 60px;
    }

    .sc-text {
        font-size: 16px;
        text-transform: uppercase;
        margin: $space-2;
        text-align: center;
    }

    .sc-info {
        color: $color-grey-300;
        font-size: 20px;
        position: absolute;
        right: $space-4;
        top: $space-4;
    }
}