<div class="header">
    <div class="header-container">
        <div class="hc-item hc-logo">
            <img src="../../../assets/img/logo.png" alt="Logo mlabs">
        </div>

        <div class="hc-desktop">
            <div class="hc-item" *ngFor="let menu of menuItens">
                <span class="hci-badge" *ngIf="menu.isNew">Novo</span>
                <span class="hci-icon" [innerHTML]="menu.icon"></span>
                <span class="hci-text">{{ menu.name }}</span>
            </div>
        </div>

        <div class="hc-item hc-burger" (click)="toggleMenu()">
            <i class="fas fa-bars"></i>
        </div>

        <div class="hc-mobile" [ngClass]="{ 'hc-mobile-active': showMenuBurger }">
            <div class="hc-item hc-close" (click)="toggleMenu()">
                <i class="fas fa-times"></i>
            </div>

            <div class="hc-item" *ngFor="let menu of menuItens">
                <span class="hci-badge" *ngIf="menu.isNew">Novo</span>
                <span class="hci-icon" [innerHTML]="menu.icon"></span>
                <span class="hci-text">{{ menu.name }}</span>
            </div>
        </div>
    </div>
</div>