@import './../../../assets/css/variables';
@import './../../../assets/css/colors';

.header {
    background-color: $color-white;
    border-bottom: 1px solid $color-grey-200;
    height: 80px;
    width: 100%;

    .header-container {
        display: flex;
        margin: 0 auto;
        max-width: 1000px;
        justify-content: space-between;
        
        .hc-desktop {
            display: none;

            @media (min-width: $media-screen-min-1024) {
                display: flex;
            }
        }

        .hc-item {
            align-items: center;
            cursor: pointer;
            display: flex;
            padding: $space-1 $space-2;
            position: relative;

            &:hover{
                background-color: $color-grey-100;

                .hci-text {
                    color: $color-red;
                }
            }

            @media (min-width: $media-screen-min-1024) {
                flex-direction: column;

                &:hover:not(.hc-logo) {
                    border-bottom: 1px solid $color-grey-200;
                }
            }
    
            &.hc-logo {
                padding: $space-2;
                
                &:hover {
                    background-color: transparent;
                    border: none;
                }

                img {
                    height: 100%;
                }
            }

            .hci-badge {
                background-color: $color-yellow;
                border-radius: 50px;
                color: $color-white;
                height: 16px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 8px;
                font-weight: bold;
                padding: 0 6px;
                position: absolute;
                top: $space-1;
                right: $space-1;
                text-transform: uppercase;
            }

            .hci-icon {
                color: $color-grey-300;
                font-size: 26px;
                margin: 0 $space-2;
            }

            .hci-text {
                color: $color-grey-400;
                font-size: 12px;
                text-transform: uppercase;
                white-space: nowrap;
            }
        }

        .hc-burger, .hc-close {
            cursor: pointer;
            font-size: 20px;
            padding: $space-2;

            &:hover {
                background-color: transparent;
                color: $color-red;
            }

            @media (min-width: $media-screen-min-1024) {
                display: none;
            }
        }

        .hc-close {
            justify-content: flex-end;
        }
        
        .hc-mobile {
            transition: ease-in .1s;
            background-color: $color-white;
            border-left: 1px solid $color-grey-200;
            bottom: 0;
            box-shadow: rgba(0, 0, 0, .2) 0 -2px 6px;
            display: flex;
            flex-direction: column;
            position: fixed;
            right: 0;
            transform: translateX(210px);
            top: 0;
            z-index: 10;
            width: 200px;

            &.hc-mobile-active {
                transform: translateX(0);
            }

            .hci-icon {
                margin: 0 $space-2 0 0;
            }

            @media (min-width: $media-screen-min-1024) {
                display: none;
            }
        }
    }
}