<div class="modal" [ngClass]="{ 'modal-visible': showModal }">
    
    <div class="modal-container" [ngClass]="{ 'modal-visible': showModal }">
        <div class="modal-header">
            <span class="mh-title" [innerHtml]="title"></span>
            
            <div class="mh-close-button" (click)="closeModal()">
                <i class="fas fa-times"></i>
            </div>
        </div>
        
        <div class="modal-body">
            <ng-content></ng-content>
        </div>
        
        <div class="modal-footer">
            <button class="btn" [innerHtml]="cancelText" (click)="onCancel()"></button>
            <button class="btn btn-blue" [innerHtml]="okText" (click)="onOk()"></button>
        </div>
    </div>

</div>