@import './../../../assets/css/variables';
@import './../../../assets/css/colors';

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: ease-in .3s;
    z-index: -1;

    &.modal-visible {
        background-color: rgba($color-black, .4);
        opacity: 1;
        z-index: 100;
    }

    .modal-container {
        background-color: $color-white;
        box-shadow: rgba(0, 0, 0, .2) 3px 0 10px;
        left: 50%;
        margin: 0 auto;
        max-width: 600px;
        position: absolute;
        top: $space-2;
        transform: translateY(calc(-100% - #{$space-3})) translateX(-50%);
        transition: ease-in .3s;
        width: 95%;
    
        &.modal-visible {
            transform: translateY(0) translateX(-50%);
        }
        
        .modal-header, .modal-footer {
            align-items: center;
            display: flex;
            justify-content: space-between;
            padding: $space-2;
        }
    
        .modal-header {
            .mh-title {
                color: $color-black;
                font-size: 22px;
                display: flex;
            }
    
            .mh-close-button {
                color: $color-grey-600;
                cursor: pointer;
                font-size: 14px;
                padding: $space-1;
    
                &:hover {
                    color: $color-red;
                }
            }
        }
    
        .modal-body {
            padding: $space-2;
        }

        .modal-footer {
            background-color: $color-grey-100;
        }
    }
}