html {
    font-size: 14px;
}

body {
    color: $color-grey-400;
    line-height: 1.5;
    margin: 0px;
}

* {
    box-sizing: border-box;

    &:focus {
        outline: 0;
    }
}

a { 
    color: $color-blue;
    cursor: pointer;
}
a, p, span {
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

img {
    display: block;
}


.icon-circle {
    align-items: center;
    border-radius: 50%;
    border: 1px solid $color-grey-200;
    display: flex;
    font-size: 20px;
    justify-content: center;
    height: 35px;
    min-height: 35px;
    margin-right: 8px;
    width: 35px;
    min-width: 35px;
}