@import './variables';

.btn {
    background-color: transparent;
    border: none;
    border-radius: 4px;
    color: $color-grey-600;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 14px;

    &:hover {
        background-color: $color-grey-100;
    }

    &.btn-red {
        background-color: $color-red;
        color: $color-white;

        &:hover {
            background-color: darken($color-red, 5%);
        }
    }

    &.btn-blue {
        background-color: $color-blue;
        color: $color-white;

        &:hover {
            background-color: darken($color-blue, 5%);
        }
    }
}