$color-white: #ffffff;
$color-black: #000000;

$color-grey-100: #f5f5f5;
$color-grey-200: #e6e6e6;
$color-grey-300: #b4b4b4;
$color-grey-400: #787878;
$color-grey-500: #5a5a5a;
$color-grey-600: #323232;
$color-grey-700: #1e1e1e;

$color-yellow: #ffc400;
$color-orange: #ee9e2d;
$color-red: #e21f46;
$color-blue: #4a8fe1;
$color-green: #14aa5a;

.bg-facebook {
    background-color: #39589b;
}
.text-facebook {
    color: #39589b;
}

.bg-twitter {
    background-color: #50aaf0;
}
.text-twitter {
    color: #50aaf0;
}

.bg-instagram {
    background-color: #d8366e;
    background-image: linear-gradient(45deg, #f27d5d, #d8366e, #c1368f);
}
.text-instagram {
    color: #d8366e;
}

.bg-google_business {
    background-color: #78b0fb;
    background-image: linear-gradient(45deg, #4b8bf5, #78b0fb);
}
.text-google_business {
    color: #78b0fb;
}

.bg-pinterest {
    background-color: #cf0000;
}
.text-pinterest {
    color: #cf0000;
}

.bg-linkedin {
    background-color: #3279aa;
}
.text-linkedin {
    color: #3279aa;
}

.bg-youtube {
    background-color: #ed1216;
}
.text-youtube {
    color: #ed1216;
}

.bg-whatsapp {
    background-color: #5af878;
    background-image: linear-gradient(45deg, #31dc51, #5af878);
}
.text-whatsapp {
    color: #5af878;
}

.bg-google_analytics {
    background-color: #f27901;
}
.text-google_analytics {
    color: #f27901;
}

.bg-twitter {
    background-color: $color-blue;
}
.text-twitter {
    color: $color-blue;
}