@import '../css/colors';

@mixin scrollbar() {
    ::-webkit-scrollbar {
        width: 6px;
    }
    
    ::-webkit-scrollbar-track {
        background: $color-grey-200; 
    }
    
    ::-webkit-scrollbar-thumb {
        background: $color-grey-400; 
        border-radius: 3px;
    }
    
    ::-webkit-scrollbar-thumb:hover {
        background: $color-grey-600; 
    }
}